# Frameworks
Django==3.2.9
Flask==2.0.2
sanic==21.9.3

# Third party
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
python-dotenv==0.19.2
psycopg2-binary==2.9.2

# Lint and formatter
flake8==4.0.1
black==21.11b1
